@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@432&family=Shadows+Into+Light&display=swap');

@keyframes myAnim {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

[v-cloak] {
    display: none;
}


body {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    background-color: rgb(157, 218, 193);
}

.forum-list-container {
    margin: auto;
    box-shadow: 2px 2px 0px 0px rgba(42, 51, 39, 0.7);
}

.forum-list-container {
    margin-top: 20px;
    background-color: rgb(212, 247, 234);
}

.forum-title {
    margin-left: 25px
}

.forum-link {
    text-decoration: none;
    color: rgb(61, 90, 78);
}

.forum-link-item {
    background-color: rgb(195, 214, 214);
    border-color: rgb(212, 247, 234);
}

.options-link-item {
    background-color: rgb(157, 218, 193);
    border-color: rgb(157, 218, 193);
}

.form-login-register {
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    background-color:rgb(212, 247, 234);
}

.form-button {
    margin-top: 20px;
    background-color: rgb(110, 158, 138);
    border-color: rgb(110, 158, 138);
}

.bold-text {
    font-weight: bold;
}

.profile-picture {
    width: 60px;
}

.post-profile-name {
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}

.post-list-title {
    text-align: center;
    
}

.post-list-thumbnail {
    width: 300px;
}

.forum-post {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);;
}

.op-username-thread {
    margin-left: 20px;
} 

.thumbnail-recommended {
    width: 100px;
}

.thread-main-picture {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
}

.artist-tag {
    background-color: rgb(151, 201, 201);
    padding: 3px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.other-tag {
    background-color: rgb(159, 201, 151);
    padding: 3px;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.thread-follow-btn {
    margin-left: 40px;
    background-color: rgb(110, 158, 138);
    border-color: rgb(110, 158, 138);
}

.published-date-label {
    font-style: italic;
    color: rgba(42, 51, 39, 0.7);
}

.thread-follow-btn:hover {
    margin-left: 40px;
    background-color: rgb(62, 88, 77);
    border-color: rgb(62, 88, 77);
}

.comment-pfp {
    border-style: solid;
    border-color: rgba(42, 51, 39, 0.7);;
    height: 60px;
}

.commentary-username {
    font-weight: bold;
    margin-left: 15px;
}

.commentary-body {
    margin-top: 15px;
}

.exact-active .commentary-username-handle {
    text-decoration: none;
}
.commentary-username-handle {
    margin-left: 1rem;
    color: rgb(33, 44, 40);
}

.top-commentary {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: rgb(151, 211, 187);
    box-shadow: 2px 2px 0px 0px rgba(42, 51, 39, 0.7);
}

.profile-cover-banner {
    background-image: url('../assets/pictures/landscape.jpg');
    background-size: cover;
    margin-top: 10px;
    border-top: 20px;
    box-shadow: 0px 0px 12px 0px;
}

.pfp-section {
    padding-top: 200px;
}
.pfp-section .profile-picture{
    width: 90px;
    margin-right: 40px;
}

.pfp-section .profile-picture img.active{
    border-style: solid;
    border-color: rgb(0, 231, 135);
}
.pfp-section .profile-name {
    color: white;
    margin-top: 20px;
    text-shadow: 2px 2px black;
    
}

.jumbotron.profile-details {
    margin-top: 15px;
    padding: 20px;
    background-color: rgb(151, 201, 178);

}

.jumbotron.profile-details h4 {
    color: white;
    text-shadow: 2px 2px black;
}

.jumbotron.profile-details p {
    font-size: 20pt;
    color: white;
    text-shadow: 2px 2px black;
}

.activity .recent h3 {
    margin-top: 25px;
    color: white;
    text-shadow: 2px 2px #000000;
    padding: 15px;
    box-shadow: 0px 0px 12px 0px #000000;
    background-color: rgb(110, 158, 138);
}

.profile-nav {
    margin-top: 10px;
    background-color: rgb(157, 218, 193);
}

.topic-item {
    background-color: rgb(245, 255, 251);
}

.topic-title span.title {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 15pt;
}

.thread-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.topic-date {
    font-size: 10pt;
    margin-left: 5rem;
}

.topic-body span {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
}

.topic-item .button-group .btn {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(110, 158, 138);
    border-color: rgb(110, 158, 138);
}

.loading {
    animation: myAnim 2s cubic-bezier(0.85, 0, 0.15, 1);
    animation-iteration-count: infinite;
    padding: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.loading .loading-icon {
    font-size: 5rem;
}

.error-field div {
    margin-top: 0rem;
    background-color: rgb(190, 131, 131);
    border-radius: 05px;
    padding: 10px;
    border-style: dashed;
    border-color: rgb(163, 70, 70);
}

.error-field div .container {
    border-style: none;
}

.thread-body {
    padding: 3px;
}

.thread-body .disc-title .title {
    margin-top: 10px;
    margin-left: 10px;
}

.thread-body .disc-title .author {
    font-style: italic;
    margin-top: 10px;
    margin-left: 10px;
}

.thread-body .thread-banner {
    margin-top: 3rem;
    width: 800px;
    height: auto;
}